"" Source your .vimrc
"source ~/.vimrc

"---------- vim相关设置 ----------
" mapleader键默认设置
let mapleader = "s"
set showmode
" 显示行号
set number
" 显示相对行号
set relativenumber
"vim与交互系统共享剪贴板
set clipboard+=unnamed
" 可以在光标上/下方看到5行
set scrolloff=5
" 动态高亮搜索
set incsearch
" 高亮显示搜索
set hlsearch
" 不区分大小写搜索
set ignorecase
" 智能大小写搜索
set smartcase
" Don't use Ex mode, use Q for formatting.
map Q gq

"---------- keybindings功能设置 ----------
" 禁用s键
map s <nop>
" 禁用空格
map <space> <nop>
" 设置jj为Esc
imap jj <Esc>
" 延迟时间
set timeoutlen=300
" 重新加载配置文件
noremap <silent> R :source ~/.ideavimrc<CR>
" 反撤销
noremap U <C-r>
" 下一行居中
noremap j jzz
" 上一行居中
noremap k kzz
" 往下移动5行
noremap J 5jzz
" 往上移动5行
noremap K 5kzz
" 移动到行首
noremap H ^
" 移动到行尾
noremap L $
" 行首插入
noremap <Leader>h I
" 行尾插入
noremap <Leader>l A
nnoremap <C-u> <C-u>zz
nnoremap <C-d> <C-d>zz
" 保存
nmap <silent> <Leader>w :w<CR>
" 不保存退出
nmap <silent> <Leader>q :q<CR>
" 双击空格键暂时取消高亮
noremap <silent> \ :nohlsearch<CR>
" 标记跳转位置
nnoremap ma mA
nnoremap 'a 'A
nnoremap ms mS
nnoremap 's 'S
nnoremap md mD
nnoremap 'd 'D
" 单词上一个/下一个
nnoremap <C-j> *
nnoremap <C-k> #
" 切换左右Tab
nnoremap <C-h> gT
nnoremap <C-l> gt
" 优化缩进
vnoremap > >gv
vnoremap < <gv
" 进入函数方法
nnoremap <Leader>i gd

"---------- 分屏设置 ----------
" 左右分屏
noremap <Leader>vv :action MoveTabRight<CR>
" 上下分屏
noremap <Leader>vs :action MoveTabDown<CR>
" 切换到左边
noremap <Leader>vh <C-w>h
" 切换到右边
noremap <Leader>vl <C-w>l
" 切换到下边
noremap <Leader>vj <C-w>j
" 切换到上边
noremap <Leader>vk <C-w>k
" 轮训窗口
noremap <A-w> <C-w>w
" 关闭分屏
noremap <Leader>vn :action Unsplit<CR>
" 最大化分屏
noremap <Leader>vm :action MaximizeEditorInSplit<CR>

"---------- 映射idea快捷键 ----------
" 跳转上次修改位置
nnoremap gi :action JumpToLastChange<CR>
" 查找
noremap gf :action Find<CR>
" 全文查找
nnoremap gh :action FindInPath<CR>
" 下一个错误
nnoremap <silent> <A-e> :action GotoNextError<CR>
" 上一个错误
nnoremap <silent> <A-q> :action GotoPreviousError<CR>
" 显示具体错误
nnoremap <silent> <A-r> :action ShowErrorDescription<CR>
" 上一个方法
nnoremap M :action MethodUp<CR>
" 下一个方法
nnoremap M :action MethodDown<CR>
" 进入全屏模式并隐藏toolbar
nnoremap <silent> <A-CR> :action ToggleFullScreen<CR>:action ViewToolBar<CR>:action ViewToolButtons<CR>
" 隐藏toolbar
nnoremap <silent> <A-\> :action ViewToolBar<CR>:action ViewToolButtons<CR>
" 定位文件在项目目录位置
nnoremap <silent> <A-1> :action SelectInProjectViwe<CR>
" 大小写转换
noremap <silent> gu :action EditorToggleCase<CR>
" 展示类中所有方法
nnoremap <silent> <Leader>o :action FileStructurePopup<CR>
" 批量修改名称
nnoremap <silent> <Leader>rn :action RenameElement<CR>
" 关闭其它tab
nnoremap <silent> <Leader>c :action CloseAllEditorsButActive<CR>
" 取消/隐藏活动窗口
nnoremap <silent> <space><space> :action HideActiveWindow<CR>


"---------- plugins list ----------
" 快速定位到指定位置
set easymotion
map <Leader><Leader> <Plug>(easymotion-s)
map <Leader>j <Plug>(easymotion-j)
map <Leader>k <Plug>(easymotion-k)
map f <Plug>(easymotion-sl)
" 多光标
set multiple-cursors
" 对包围进行操作
set surround
" 对文本对象进行操作
set argtextobj
" 复制操作时短暂高亮
set highlightedyank
" 替换
set ReplaceWithRegister
" 自动切换中英文
set keep-english-in-normal
set keep-english-in-normal-and-restore-in-insert


